@font-face {
  font-family: pixel;
  src: url(fonts/PixelForge.otf);
}

@font-face {
  font-family: centrion;
  src: url(fonts/yoshiro.otf);
}


@font-face {
  font-family: racing;
  src: url(fonts/RacingNumbers.ttf);
}

@font-face {
  font-family: ledlight;
  src: url(fonts/LEDLIGHT.otf);
}

@font-face {
  font-family: novem;
  src: url(fonts/novem___.ttf);
}



* {
    color: var(--text-color);
    font-family: pixel;
}





/* =========================================================
   RESET
   ========================================================= */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #c9b9d3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site {
    position: relative;
    width: 1920px;
    height: 1080px;
    flex-shrink: 0;

    background-image: url('images/new/teste.png');
    background-repeat: no-repeat;
    background-size: 115% 110%;
    background-position: auto 20px;

    overflow: hidden;

    transform: scale(var(--site-scale, 1));
    transform-origin: center center;

    box-shadow: 0 0 18px rgba(88, 51, 128, 0.35);
    filter: drop-shadow(0 5px 10px rgba(88, 51, 128, 0.7));
}

.site > * {
    filter: drop-shadow(0 5px 10px rgba(88, 51, 128, 0.7));
}



/* =========================================================
   SISTEMA DE IMAGENS
   ========================================================= */

.art,
.panel {
    position: absolute;
}


/*
    Enquanto você ainda não colocou as imagens,
    os elementos aparecem como caixas.
*/

.art {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #75618f;
    font-family: monospace;
    font-size: clamp(8px, 0.8vw, 14px);
}


/* =========================================================
   PLACEHOLDERS DE CONTEÚDO
   ========================================================= */

.panel {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.placeholder {
    width: 100%;
    height: 100%;

    background: #f5e9e7;

    border: 1px dashed #75618f;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #75618f;
    font-family: monospace;
    font-size: clamp(8px, 0.75vw, 13px);
}


/* =========================================================
   DECORAÇÕES SUPERIORES
   ========================================================= */


/* Castelo — canto superior esquerdo */

.art-castle {
    left: 0%;
    top: 2%;
    width: 10%;
    height: 36%;
    
}

.link {
    display: contents;
}


/* Logo */

.art-logo {
    left: 14.5%;
    top: 4.5%;
    width: 18%;
    height: 11%;
}


/* Faixa / estrela horizontal */

.art-banner {
    left: 33%;
    top: 2%;
    width: 58%;
    height: 18%;
}


/* Papel pendurado no canto superior direito */

.art-scroll {
    left: 90%;
    top: 2%;
    width: 8.5%;
    height: 24%;
    z-index: 2;
}


/* =========================================================
   BLOCO ESQUERDO
   ========================================================= */


/*
    Papel grande da esquerda
*/

.panel-left {
    left: 2%;
    top: 35%;
    width: 36%;
    height: 36%;

    transform: rotate(-1deg);
}

.panel-left img {
    display: block;
}

.panel-left h2 {
    font-family: ledlight;
    position: absolute;
    top: 20%;
    left: 23%;
    transform: translate(-50%, -50%) rotate(1deg);
    margin: 0;
    font-size: large;
}

.webring {
    position: absolute;
    top: 55%;
    left: 26%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 200px;
    text-align: center;
}

.webring img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cliques {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.cliques img {
    margin: 0;
}


/*
    Papel superior esquerdo
*/

.panel-left-top {
    left: 20%;
    top: 19%;
    width: 36%;
    height: 36%;

    transform: rotate(-3deg);
}

.panel-left-top img {
    display: block;
}

.panel-left-top h1 {
    font-family: centrion;
    position: absolute;
    font-size: 40px;
    top: 17%;
    left: 17%;
    transform: rotate(-5deg);
    margin: 0;

    color: #080808;
}

.welcome {
    position: absolute;
    top: 25%;
    left: 10%;
    transform: rotate(-5deg);;
    margin: 0;
    width: 200px;
    text-align: left;
}

/* =========================================================
   ESPELHO CENTRAL
   ========================================================= */

.art-mirror {
    left: 38%;
    top: 4%;

    width: 24%;
    height: 70%;

    border-radius: 25%;

    z-index: 4;
}


/* =========================================================
   DIREITA SUPERIOR
   ========================================================= */

.panel-right-top {
    left: 65%;
    top: 20%;
    width: 30%;
    height: 30%;
}

.panel-right-top img {
    display: block;
}

.panel-right-top h2 {
    font-family: ledlight;
    position: absolute;
    top: 17%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.panel-right-top div {
    position: absolute;
    top: 25%;
    left: 22%;
    padding: 0;
    margin: 0;
    zoom:0.95;
}

.panel-right-top div img,
.panel-right-top div p {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.panel-right-top div br {
    display: block;
}

.currently {
    position: relative;
    border-bottom: none;
    padding-bottom: 8px !important;
    margin-bottom: 8px !important;
    margin-left: -30px !important;
}

.currently::after {
    content: "";
    position: absolute;
    left: -40px;
    bottom: 0;
    width: 350px;
    border-bottom: 1px solid rgba(130, 83, 173, 0.6);
}


/* =========================================================
   DIREITA INFERIOR
   ========================================================= */

.panel-right-bottom {
    left: 67.0%;
    top: 49.0%;
    width: 24.0%;
    height: 20.0%;
}

.panel-right-bottom img {
    display: block;
}

.panel-right-bottom h3 {
    font-family: centrion;
    font-size: 30px;
    position: absolute;
    top: 17%;
    left: 30%;
    transform: rotate(5deg);
    margin: 0;
}

.panel-right-bottom > div {
    position: absolute;
    width: 390px;
    top: 16%;
    left: 3%;
    padding: 0;
    margin: 0;
    transform: scale(0.7)
}

.panel-right-bottom .rolagem {
    height: 150px !important;
    max-height: 150px !important;
}




/* =========================================================
   CONTEÚDO CENTRAL GRANDE
   ========================================================= */

.panel-center {

    position: absolute;
    left: 19.5%;
    top: 65%;
    width: 73%;
    height: 22%;
    z-index: 3;
}

.panel-center > div {

    position: absolute;
    left: 7%;
    top: 33%;
    width: 43%;
    height: 60%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow: hidden;
}

.panel-center > div {
    position: absolute;
    left: 7%;
    top: 33%;
    width: 44%;
    height: 60%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow: hidden;
}

.panel-center > div .marquee {
    position: relative;

    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 8%,
        black 88%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 8%,
        black 88%,
        transparent 100%
    );

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.panel-center > div .marquee:nth-child(1) {
    width: 100%;
    margin-left: 0;
}

.panel-center > div .marquee:nth-child(2) {
    width: 97%;
    margin-left: 3%;
}

.panel-center > div .marquee:nth-child(3) {
    width: 92%;
    margin-left: 7.5%;
}

/* =========================================================
   LIVROS
   ========================================================= */

.art-books {
    position: absolute;
    left: 0%;
    top: 65%;
    width: 35%;
    height: 35%;
    z-index: 1;
}


/* =========================================================
   RELÓGIO
   ========================================================= */

.art-clock {
    left: 13.0%;
    top: 78.0%;
    width: 6.5%;
    height: 8.5%;

    border: none;
}


/* =========================================================
   OBJETO / LIVRO DIREITO
   ========================================================= */




/* =========================================================
   PERSONAGEM CENTRAL DIREITA
   ========================================================= */

.art-character {
    left: 55%;
    top: 65%;
    width: 9.5%;
    height: 21%;
    
    border: none;
    z-index: 999999;
}


/* =========================================================
   GATO DA JANELA DIREITA
   ========================================================= */

.art-cat-right {
    left: 88%;
    top: 17%;
    width: 12.5%;
    height: 60%;

}


/* =========================================================
   GATO INFERIOR
   ========================================================= */

.art-cat-bottom {
    left: 37.5%;
    top: 80.5%;
    width: 8%;
    height: 10%;

    border: none;
}


/* =========================================================
   PERSONAGEM CANTO INFERIOR DIREITO
   ========================================================= */

.art-sonic {
    left: 90%;
    top: 80%;
    width: 10%;
    height: 20%;

    border: none;
}


/* =========================================================
   PLACA INFERIOR
   ========================================================= */

.art-bottom-plaque {
    left: 34%;
    top: 83%;
    width: 30%;
    height: 17%;

    border-radius: 40%;
}



.music-bar {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 24px; /* Reduzido de 38px para 24px */

    z-index: 999;

    display: flex;
    align-items: center;
    gap: 5px; /* Reduzido o espaço entre os elementos */

    padding: 2px 8px; /* Padding superior/inferior bem menor */

    background: linear-gradient(
        #48434b,
        #222025,
        #39343d
    );

    border-bottom: 2px solid #514455;

    box-shadow:
        inset 0 1px 2px #7b6d80,
        inset 0 -1px 2px #111,
        0 2px 4px rgba(0, 0, 0, .6);

    color: #b79ac5;

    font-family: monospace;
    font-size: 9px; /* Fonte levemente menor para caber melhor */
}


/* BOTÕES */

.music-button {
    flex-shrink: 0;

    width: 21px;  /* Reduzido de 27px para 21px */
    height: 18px; /* Reduzido de 25px para 18px */

    padding: 0;

    border: 1px solid #514455; /* Borda um pouco mais fina */
    border-radius: 3px;

    background: linear-gradient(
        #48434b,
        #222025,
        #39343d
    );

    color: #c7adcf;

    box-shadow:
        inset 0 1px 2px #7b6d80,
        0 1px 2px #111;

    font-family: monospace;
    font-size: 8px;

    cursor: pointer;
}

.music-button:hover {
    background: linear-gradient(
        #5a535f,
        #29252d,
        #48414e
    );

    color: #eadcf0;
}

.music-button:active {
    box-shadow:
        inset 0 2px 3px #111;
}


/* INFORMAÇÕES */

.music-info {
    width: 145px;
    min-width: 145px;

    display: flex;
    flex-direction: column;

    line-height: 10px; /* Linhas mais coladinhas */

    overflow: hidden;
}

.music-title {
    color: #d4bedb;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.music-artist {
    color: #8f7c99;
}


/* PROGRESSO */

.music-progress {
    flex: 1;

    height: 5px; /* Reduzido de 9px para 5px (barra bem fina) */

    border: 1px solid #151318;
    border-radius: 2px;

    background: linear-gradient(
        #161419,
        #302b32
    );

    box-shadow:
        inset 0 1px 2px #0b0a0c,
        0 1px 1px #62566a;

    cursor: pointer;
}

.music-progress-fill {
    width: 0%;
    height: 100%;

    background: linear-gradient(
        #9d82aa,
        #624b70,
        #80628d
    );

    box-shadow:
        inset 0 1px 1px #c4a9cc;

    pointer-events: none;
}


/* TEMPO */

.music-time {
    flex-shrink: 0;

    width: 65px;

    text-align: center;

    color: #9c8aa4;
}

.rolagem {
    max-height: 200px;
    overflow-y: auto;
    height: auto;
    align-items: center;
    margin-top: 20px;
    z-index: 999999999;
}

.roxo {
    filter:none;
}

.roxo > * {
    filter: brightness(0.5) sepia(1) hue-rotate(220deg) saturate(100%) contrast(100%);
    transition: filter 0.3s ease;
}

.roxo > *:hover {
    filter: none;
}


.roxoimg{
    filter: brightness(0.5) sepia(1) hue-rotate(220deg) saturate(100%) contrast(100%);
    transition: filter 0.3s ease;
}


.caixa {
    position: relative;
    padding: 10px !important;
    padding-left: 20px !important;
    margin: 20px !important;
    z-index: 0;
}

.caixa::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 10px solid;
    border-image: url("https://static.tumblr.com/yn7vk7p/DfHmp40xm/bo-ha26.gif") 8 fill round;
    filter: hue-rotate(250deg)
            brightness(0.9);
    pointer-events: none;
    z-index: -1;
    
}



.marquee {
    overflow: hidden;
    z-index:10;
}

.marquee-track {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
}

.marquee-track a {
    display: block;
    flex-shrink: 0;
}

.marquee-track img {
    display: block;
}

.marquee:hover .marquee-track {
    animation-play-state: paused;
}

.marquee-track.rapida {
    animation-duration: 5s;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


.animado {
    transition: transform 0.25s ease, filter 0.25s ease;
}

.animado:hover {
    transform: scale(1.03) rotate(1deg);
}


.animado2 {
    transition: transform 0.25s ease, filter 0.25s ease;
}

.animado2:hover {
    transform: scale(1.03) rotate(7deg);
}






.osagiri {
    position: absolute;
    pointer-events: none;
    width: 12%;
    top: 5%;
    left:72%;
    border-radius: 500%;
}

.osagiri2 {
    position: absolute;
    pointer-events: none;
    width: 15%;
    top: 20%;
    left:10%;
    border-radius: 90px;
}


.shmilk {
    position: absolute;
    pointer-events: none;
    width: 26%;
    top: 51%;
    left:25%;
    border-radius: 90px;
    transform:rotate(-10deg);
    z-index: 0;
}

.shadow {
    position: absolute;
    pointer-events: none;
    width: 10%;
    top: 62%;
    left:65%;
    transform:rotate(-25deg)
}


.logs {
    font-family: 'ledlight';
    font-size: x-large;
    color: #cdaddf;
    position: absolute;
    top: 73%;
    left: 4.5%;
    width: 300px;
    height: 200px;
    z-index: 10;
    transform:rotate(-5deg);
    line-height: 10px;
}

.logs * {
    font-family: inherit;
    font-size: x-large;
    color: #b49bc2;
}


.neigh {
    position:absolute;
    top: 93%;
    left: 6%;
    width: 410px;
    z-index: 10;

    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 8%,
        black 88%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 8%,
        black 88%,
        transparent 100%
    );

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.neigh p{
    text-align: center;
}




.transp {
  mask-image: radial-gradient(
    ellipse at center, 
    black 40%, 
    transparent 90%
  );
  
  -webkit-mask-image: radial-gradient(
    ellipse at center, 
    black 40%, 
    transparent 90%
  );
  mask-composite: intersect;
}


.quiz{
    zoom: 0.6;
    position:absolute;
    top:16%;
    left:41.5%;
    transform: rotate(-8deg);
    color:#b79ac5;
    text-align: center;
}


.quiz button {
    width: 160px;
    height: 25px;
    padding: 5px 15px;
    margin: 5px 0;

    border: 2px solid #514455;
    border-radius: 4px;

    background: linear-gradient(
        #48434b,
        #222025,
        #39343d
    );

    color: #b79ac5;

    box-shadow:
        inset 0 1px 2px #7b6d80,
        0 2px 3px #111;
}

.side{
    position:absolute;
    width: 420px;
    height: 250px;

    top: 73%;
    left: 67%;
    transform:rotate(-17deg);

    background-image:url("images/new/status.png");
    background-size: cover;
    z-index: 9999;
}


.status{
    zoom: 0.7;
    position:absolute;
    top:33%;
    left: 12%;
    width: 120px;
    transform:rotate(-17deg);
}

.user {
    display: inline-block;
    padding: 5px 1px;
    margin: 10px 0;

    border: 2px solid #514455;
    border-radius: 4px;

    background: linear-gradient(
        #48434b,
        #222025,
        #39343d
    );

    color: #b79ac5;

    box-shadow:
        inset 0 1px 2px #7b6d80,
        0 2px 3px #111;
}



.visitor {
    position: absolute;
    top: 90.5%;
    left: 46%;
    z-index: 999;

    display: flex;
    align-items: center;

    padding: 5px 15px;
    margin: 5px 0;

    color: #b79ac5;
}

.visitor > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: auto !important;
}

.visitor p {
    margin: 0;
}

.visitor img {
    display: block !important;
}


