/* Fundo do iframe */
#visitorCounter {
    margin: 0;
    padding: 0;

    background: transparent;

    color: #b79ac5;

    font-family: PixelForge, sans-serif;
    font-size: 14px;
}

/* "You are visitor:" */
#visitorCounter::before {
    content: "VISITORS:";

    display: block;

    margin-bottom: 5px;

    color: #b79ac5;

    font-family: PixelForge, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

/* Área que contém os dígitos */
#visitorCounterDisplay {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 3px;
}

/* Cada quadradinho de número */
.digit {
    position: relative;

    width: 22px;
    height: 27px;

    border: 2px solid #514455;
    border-radius: 3px;

    background: linear-gradient(
        #48434b,
        #222025,
        #39343d
    );

    box-shadow:
        inset 0 1px 2px #7b6d80,
        0 2px 3px #111;

    box-sizing: border-box;
}

/* Número dentro do quadradinho */
.digit::before {
    color: #b79ac5;

    font-family: PixelForge, sans-serif;
    font-size: 17px;

    text-shadow:
        0 1px 1px #111;
}